---
layout: default
title: 读书
permalink: /books/
tagline: 读书笔记
group: navigation
---
{% include JB/setup %}

<div class="ui main segment">
    <div class="article vertical-rl">
        <h1>读书笔记</h1>
        <ul class="posts">
            {% for post in site.posts %}
            {% if post.group == "book" %}
            <li>{% include title.html %}</li>
            {% endif %}
            {% endfor %}
            {% for post in site.pages reversed %}
            {% if post.group == "book" %}
            <li>{% include title.html %}</li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
{% include sidebar.html %}
