body {
  font-size: 16px;
  font-family: "SourceHanSerifSC-Regular", "PingFang SC Regular", "Ubuntu", "Verdana", "Tahoma", "Songti SC", "SimSun", serif;
  // background: url('/images/background/shinohayu1920.jpg');
  background-image: linear-gradient(170deg, #58B2DC 0%, #81C7D4 85%); /* 水 空 */
}

h1, h2, h3, h4, h5, h6 {
  font-family: "SourceHanSerifSC-Bold", "PingFang SC", "Lucida Grande", "Helvetica Neue", "Arial", "Hiragino Sans GB", "Noto Sans CJK SC", "Heiti SC", "Microsoft YaHei", "WenQuanYi Microhei", sans-serif;
  color: #005CAF; /* 瑠璃 */
  font-weight: bold;
  text-decoration: none;
  line-height: 2em;
}

a, a:link, :visited {
  color: #8A6BBE; /* 藤紫 */
  text-decoration: none;
}

a:hover {
  color: #B28FCE; /* 薄 */
  text-decoration: none;
}

a:active {
  color: #6A4C9C; /* 桔梗 */
  text-decoration: none;
}

::-webkit-scrollbar-track {
  color: #cccccc;
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #cccccc;
}

a.kingfree.title {
  color: #F596AA !important; /* 桃 */
  text-decoration: none;
  text-align: center;

  table {
    width: 100%;
    margin: 0;
  }

  td {
    width: 33%;
  }

  tr, td {
    margin: 0;
    padding: 0;
  }

  .pinyin {
    font-family: "STXihei", "华文黑体", "sans-serif";
    font-size: 14px;
  }

  .kana {
    font-family: "Meiryo UI", "MS PGothic", "serif";
    font-size: 16px;
  }

  .title {
    font-family: "KFKai", "楷体", "华文楷体", "MS Song", serif;
    font-size: 48px;
  }
}

.ui.right.menu {
  background: rgba(255, 255, 255, 0.8);
  .item.about {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    .ui.list {
      a.item {
        color: #5DAC81; /* 若竹 */
        i.icon {
          color: #5DAC81;
        }
      }
      a.item:hover, a.item:active {
        color: #86C166; /* 苗 */
        i.icon {
          color: #86C166;
        }
      }
    }
  }
}

.ui.main.segment {
  position: absolute;
  right: 260px;
  top: 20px;
  left: 40px;
  bottom: 20px;
  margin: 0;
}

.article {
  position: absolute;
  top: 20px;
  bottom: 20px;
  left: 20px;
  right: 20px;
  overflow: scroll;
  font-size: 18px;

  img {
    max-width: 60%;
  }
}

.vertical-rl {
  writing-mode: vertical-rl;
  overflow-x: scroll;
}

.posts {
  list-style-type: cjk-ideographic;
  font-size: 14px;
  margin: 0;
  border: 2px solid #C73E3A;
  li {
    border: 1px solid #C73E3A; /* 銀朱 */
    border-left: none;
    &:last-child {
      border-left: 1px solid #C73E3A;
    }
    margin-top: 1em;
    padding: 10px 3px;
    .extra {
      font-size: 14px;
      line-height: 24px;
      color: #6A8372; /* 老竹 */
    }
    a {
      font-size: 20px;
      line-height: 40px;
      font-weight: 500;
      color: black;
      font-family: "SourceHanSerifSC-Bold", sans-serif;
      &:hover {
        color: #B54434; /* 紅樺 */
      }
    }
  }
}

.header {
  .tagline {
    display: inline-block;
    font-size: 24px;
    .etitle {
      font-size: 24px;
      font-weight: bold;
    }
    .author {
      font-size: 18px;
      font-style: italic;
    }
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

.post {
  .header {
    height: 50px;
    overflow: hidden;
    border-bottom: 1px solid #C73E3A;
    vertical-align: middle;
    h1 {
      display: inline-block;
      font-size: 30px;
      line-height: 1em;
    }
    .date {
      vertical-align: middle;
      float: right;
      font-size: 12px;
      line-height: 14px;
      color: #00896C; /* 青竹 */
    }
  }
  .article {
    top: 70px;
    bottom: 70px;
    .ui.tag.labels {
      float: right;
      margin: 10px;
      a {
        margin: 10px;
        display: block;
        .detail {
          float: right;
        }
      }
    }
  }
  .bottom {
    height: 50px;
    position: absolute;
    left: 20px;
    bottom: 10px;
    right: 20px;
  }
}


.zhu {
  color: #000;
  font-size: 12px;
  display: inline-block;
  line-height: 16px;
}

.blogs {
  h1, h2, h3 {
    margin: 0;
    display: inline-block;
    line-height: 52px;
  }
}

.post.vertical-rl {
  .header {
    width: 50px;
    height: auto;
    position: absolute;
    right: 20px;
    bottom: 70px;
    top: 20px;
    left: auto;
    border-bottom: none;
    border-left: 1px solid #C73E3A;
    .date {
      bottom: 0;
    }
  }
  .article {
    top: 20px;
    bottom: 70px;
    left: 20px;
    right: 80px;
  }
  .bottom {
    writing-mode: horizontal-tb;
  }
  #uyan_frame {
    margin-right: 20px;
  }
}

table {
  margin: 0 10px;
}

.vertical-rl {
  margin: 10px 0;
}

rt {
  font-family: "STXihei", "华文黑体", "sans-serif";
}

@media (max-width: 767px) {
  .ui.main.segment {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.9);
  }
  .ui.right.menu {
    display: none;
  }
}

table.biao {
  p {
    text-indent: 0;
  }
  td {
    vertical-align: top;
  }
}
