body {
    font-size: 16px;
}

p {
    font-family: "Verdana", "Tahoma", "Songti SC", "SimSun", serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Lucida Grande", "Helvetica Neue", "Arial", "Hiragino Sans GB", "Noto Sans CJK SC", "Heiti SC", "Microsoft YaHei", "WenQuanYi Microhei", sans-serif;
    color: #005CAF; /* 瑠璃 */
    text-decoration: none;
}

blockquote p {
    font-size: 1em;
}

.bookTag {
    font-weight: bold;
    color: #6A4C9C; /* 桔梗 */
}

pre code {
    font-size: 0.8em;
}

a, a:link, :visited {
    color: #8A6BBE; /* 藤紫 */
    text-decoration: none;
}

a:hover {
    color: #B28FCE; /* 薄 */
    text-decoration: none;
}

a:active {
    color: #6A4C9C; /* 桔梗 */
    text-decoration: none;
}

#footer {
}

#category {
    position: fixed;
    top: 10px;
    float: left;
    font-size: 12px;
}

.subtitle {
    margin-bottom: 20px;
    margin-top: 0;
}

.etitle {
    font-size: 24px;
    display: block;
    font-weight: bold;
}

.author {
    font-style: italic;
    display: block;
    text-align: right;
}

.post > h3.title {
    position: relative;
    padding-top: 10px;
}

.post > .more {
    margin: 10px 0;
    text-align: left;
}

.date {
    color: #00896C; /* 青竹 */
}

img {
    max-width: 100%;
}

/* tag_box */
.tag_box {
    list-style: none;
    margin: 0;
    overflow: hidden;
}

.tag_box li {
    line-height: 28px;
}

.tag_box li i {
    opacity: 0.9;
}

.tag_box.inline li {
    float: left;
}

.tag_box a {
    padding: 3px 6px;
    margin: 2px;
    background: #eee;
    color: #555;
    border-radius: 3px;
    text-decoration: none;
    border: 1px dashed #cccccc;
}

.tag_box a span {
    vertical-align: super;
    font-size: 0.8em;
}

.tag_box a:hover {
    background-color: #e5e5e5;
}

.tag_box a.active {
    background: #57A957;
    border: 1px solid #4c964d;
    color: #FFF;
}

#title {
    text-align: center;
}

#title table {
    width: 100%;
}

#title td {
    width: 33%;
}

#title a, #title a:hover {
    font-family: "KFKai", "楷体", "华文楷体", "MS Song", serif;
    font-size: 48px;
    color: #F596AA; /* 桃 */
    text-decoration: none;
}

#title tr, #title td {
    margin: 0;
    padding: 0;
}

#title .pinyin {
    font-family: "STXihei", "华文黑体", "sans-serif";
    font-size: 14px;
}

#title .kana {
    font-family: "Meiryo UI", "MS PGothic", "serif";
    font-size: 16px;
}

#leftbar {
    position: fixed;
}

#header {
    background-color: #FFFFFF;
    text-align: center;
}

#header a {
    color: #58B2DC; /* 空 */
    text-decoration: none;
}

#header a:hover {
    color: white;
    background-color: #81C7D4; /* 水 */
    text-decoration: none;
}

#header li.active > a, #header a:active {
    color: white;
    background-color: #7DB9DE; /* 勿忘草 */
    text-decoration: none;
}

#center {
    padding: 20px;
    background-color: #FFFFFF;
    z-index: 9999;
}

#footer {
    display: block;
    position: fixed;
    bottom: 10px;
    padding: 10px;
}

#contact a {
    display: block;
    position: relative;
}

.bs-docs-sidebar.affix {
    position: static;
}

@media (min-width: 768px) {
    .bs-docs-sidebar {
        padding-left: 20px;
    }
}

.bs-docs-sidenav {
    margin-top: 20px;
    margin-bottom: 20px;
}

.bs-docs-sidebar .nav > li > a {
    display: block;
    padding: 4px 20px;
    font-size: 13px;
    font-weight: 500;
    color: #33A6B8; /* 浅葱 */
}

.bs-docs-sidebar .nav > li > a:focus, .bs-docs-sidebar .nav > li > a:hover {
    padding-left: 19px;
    color: #1E88A8; /* 花浅葱 */
    text-decoration: none;
    background-color: transparent;
    border-left: 1px solid #1E88A8; /* 花浅葱 */
}

.bs-docs-sidebar .nav > .active:focus > a, .bs-docs-sidebar .nav > .active:hover > a, .bs-docs-sidebar .nav > .active > a {
    padding-left: 18px;
    font-weight: 700;
    color: #1E88A8; /* 花浅葱 */
    background-color: transparent;
    border-left: 2px solid #1E88A8; /* 花浅葱 */
}

.bs-docs-sidebar .nav .nav {
    display: none;
    padding-bottom: 10px;
}

.bs-docs-sidebar .nav .nav > li > a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    font-size: 12px;
    font-weight: 400;
}

.bs-docs-sidebar .nav .nav > li > a:focus, .bs-docs-sidebar .nav .nav > li > a:hover {
    padding-left: 29px;
}

.bs-docs-sidebar .nav .nav > .active:focus > a, .bs-docs-sidebar .nav .nav > .active:hover > a, .bs-docs-sidebar .nav .nav > .active > a {
    padding-left: 28px;
    font-weight: bold;
}

.back-to-top, .bs-docs-theme-toggle {
    display: none;
    padding: 4px 10px;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 12px;
    font-weight: bold;
    color: #999;
}

.back-to-top:hover, .bs-docs-theme-toggle:hover {
    color: #1E88A8; /* 花浅葱 */
    text-decoration: none;
}

.bs-docs-theme-toggle {
    margin-top: 0;
}

@media (min-width: 768px) {
    .back-to-top, .bs-docs-theme-toggle {
        display: block;
    }
}

@media (min-width: 992px) {
    .bs-docs-sidebar .nav > .active > ul {
        display: block;
    }

    .bs-docs-sidebar.affix, .bs-docs-sidebar.affix-bottom {
        width: 213px;
    }

    .bs-docs-sidebar.affix {
        position: fixed;
        top: 20px;
    }

    .bs-docs-sidebar.affix-bottom {
        position: absolute;
    }

    .bs-docs-sidebar.affix .bs-docs-sidenav, .bs-docs-sidebar.affix-bottom .bs-docs-sidenav {
        margin-top: 0;
        margin-bottom: 0;
    }
}

@media (min-width: 1200px) {
    .bs-docs-sidebar.affix, .bs-docs-sidebar.affix-bottom {
        width: 263px;
    }
}
