---
layout: default
---
{% include JB/setup %}

<div class="ui main segment">
    <div class="post vertical-rl">
        <div class="header">
            <h1>
                {% if page.group == "book" %}
                {% if page.subtitle %}
                {{ page.subtitle }}——讀
                {% endif %}
                《{{ page.title }}》
                {% else %}
                {% if page.subtitle %}
                {{ page.subtitle }}——
                {% endif %}
                {{ page.title }}
                {% endif %}
            </h1>
            <div class="tagline">
                {% if page.tagline %}{{ page.tagline }}{% endif %}
            </div>
            <div class="subtitle">
                {% if page.etitle %}<span class="etitle">{{ page.etitle }}</span>{% endif %}
                {% if page.author %}<span class="author">{{ page.author }}</span>{% endif %}
            </div>
            <div class="date">
                {% if page.date %}<span>{{ page.date | date: "%Y年%m月%d日" }}</span>{% endif %}
                {% if page.update %}<span>作，{{ page.update | date: "%Y年%m月%d日" }}訂。</span>{% endif %}
            </div>
        </div>
        <div class="article">
            {{ content }}

            {% include JB/comments %}
        </div>
        <div class="bottom">
            <div class="three ui buttons">
                {% if page.previous %}
                <a class="ui red basic button"
                   href="{{ BASE_PATH }}{{ page.previous.url }}">
                    <i class="left chevron icon"></i>
                    {{ page.previous.title }}
                </a>
                {% else %}
                <button class="ui red basic button" disabled>
                    <i class="left chevron icon"></i>
                    上一篇
                </button>
                {% endif %}
                <a class="ui basic teal button" href="#uyan_frame">评论</a>
                {% if page.next %}
                <a class="ui green basic button"
                   href="{{ BASE_PATH }}{{ page.next.url }}">
                    {{ page.next.title }}
                    <i class="right chevron icon"></i>
                </a>
                {% else %}
                <button class="ui green basic button" disabled>
                    下一篇
                    <i class="right chevron icon"></i>
                </button>
                {% endif %}
            </div>
        </div>

    </div>
</div>
{% include sidebar.html %}
